<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>{{ isAddMode ? "Add Post" : "Edit Post" }}</h3>
    <div class="form-row">
    <div class="form-group col">
      <label>Id</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="id"
          placeholder="Add ID"
        />
      </div>
      <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
        <div *ngIf="f.id.errors.required">ID is required.</div>
      </div>
    </div>
    <div class="form-group col">
      <label>User Id</label>
      <div class="input-group  mr-sm-2">
        <input
          type="text"
          class="form-control"
          formControlName="userId"
          placeholder="Add userId"
        />
      </div>
      <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
        <div *ngIf="f.userId.errors.required">User ID is required.</div>
      </div>
    </div>
    <div class="form-group col-12">
      <label>Title</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        placeholder="Add Title"
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
      />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </div>
    <div class="form-group col-12">
      <label>Description</label>
      <input
        type="text"
        formControlName="body"
        placeholder="Add Description"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.body.errors }"
      />
      <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
        <div *ngIf="f.body.errors.required">Description is required</div>
      </div>
    </div>
  </div>

  <div class="social">
    <button [disabled]="!form.valid" class="btn btn-md btn-success">Save</button>
    <button routerLink="/posts" class="btn btn-md btn-danger">Cancel</button>
  </div>
</form>
