<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h3>Signup</h3>

  <label for="email">Email</label>
  <input
    type="text"
    formControlName="email"
    name="email"
    required
    placeholder="Enter Email"
  />
  <div *ngIf="f.email.touched && !f.email.valid" class="invalid-controls">
    <span *ngIf="f.email.errors?.required">Email is required.</span>
    <span *ngIf="f.email.errors?.email">Invalid Email.</span>
  </div>
  <label for="password">Password</label>
  <input
    type="password"
    formControlName="password"
    name="password"
    required
    placeholder="Password"
  />
  <div *ngIf="f.password.touched && !f.password.valid" class="invalid-controls">
    <span *ngIf="f.password.errors?.required">Password is required.</span>
  </div>
  <p>Already have an account? <a routerLink="/">Login Here!</a></p>
  <button
    type="submit"
    class="btn btn-primary justify-content-md-center"
    [disabled]="!signupForm.valid"
  >
    Submit
  </button>
</form>
